.navbar {
  border: 1px solid #C1272D;
}

.logo-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-left: 20px;
  margin-right: 20px;
}


.navbar-custom {
  background-color: #FFFF;
  border-color: #C1272D;

}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #001636;
  font-size: 30px;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #C1272D;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #C1272D;
}

/* END NAVBAR STYLE */

.h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;

}

.objetiveRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  min-width: 1200px;
}


.list-group-item {
  font-size: 15px;
}

.btn-addObjective {

  background-color: #001636;
  /* Green */
  border: none;
  color: white;
  height: 40px;
  width:140px ;
  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;


}
.glyphicon-plus{
    float: left;
}
.addButton{
    font-size: 13px;
}
