.h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 20px;
  margin-right: 20px;

}

.objetiveRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  min-width: 1200px;
}


.glyphicon-plus{
    float: left;
}

.mat-form-field {
  margin-right: 4px;
}

hr.line {
  border-top: 5px solid red;
  margin-top: 20px;
  margin-bottom: 20px;
}

.eyeButtonActivity{
  height: 30px;
  width:30px ;
}
.glyphicon-eye-open{
  height: 30px;
  width:30px ;
  font-size: 17px;
  float: center;
}

.activity-node{

}

.objetive-list{
  margin-left: 10px;
}

.row{
  margin-right: 30px;
  column-gap: 60px;
}
