<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">



<div [formGroup]="activityForm">

    <div class="row">
        <div class="col-4">
            <h1>Actividad</h1>
        </div>
        {{activityForm.value | json}}
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Nombre:</h3>
        </div>
        <div class="col-8">
            <input type="text" formControlName="name" class="form-control">
        </div>
    </div>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

        <div *ngIf="name.errors.required">
            Debe ingresar un nombre para la actividad.
        </div>


    </div>
    <div class="row">
        <div class="col-4">
            <h3>Descripción:</h3>
        </div>
        <div class="col-8">
            <textarea formControlName="description" placeholder=""></textarea>
        </div>
    </div>
    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">

        <div *ngIf="description.errors.required">
            Debe ingresar una descripción para la actividad.
        </div>
        <div *ngIf="description.errors?.maxlength">
            La descripción no puede exceder los 500 caracteres.
        </div>


    </div>
    <div class="row">
        <div class="col-4">
            <h3>Evaluable:</h3>
        </div>
        <div class="col col-6 col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="evaluable">

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-2">
            <h3>Semana:</h3>
        </div>
        <div class="col-2">
            <select id="inputState" class="form-control" formControlName="week">
                <option selected>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
            </select>
        </div>
        <div class="col-3">
            <h3>Fecha de entrega:</h3>
        </div>
        <div class="col-5">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" formControlName="date">
        </div>

    </div>
    <div *ngIf="week.invalid && (week.dirty || week.touched)" class="alert alert-danger">

        <div *ngIf="week.errors.required">
            Debe ingresar semana para la actividad.
        </div>
    </div>
    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert alert-danger">

        <div *ngIf="week.errors.required">
            Debe ingresar fecha para la actividad.
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Objetivos:</h3>
        </div>
        <div class="col-7">
            <select id="inputState" class="form-control" formControlName="objective">
                <option selected disabled></option>
                <ng-container *ngFor="let objective of objectives">

                    <option>{{objective.id}}) {{objective.description}}</option>

                </ng-container>
            </select>
        </div>
        <div class="col-1">
            <button class="btn" (click)="addObjective()"><i class="glyphicon glyphicon-plus"></i></button>
        </div>

    </div>
    <div *ngIf="objective == false" class="alert alert-danger">

        
            Debe ingresar al menos un objetivo.
        
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <table class="table table-bordered">

                <tbody>
                    <tr *ngFor="let objective of objectivesResponse">
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>{{objective.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Archivo:</h3>
        </div>
        <div class="col-8">
            <form>
                <div class="form-group">

                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="uploadActivityFile($event)">

                </div>

            </form>
        </div>
    </div>



    <div class="row justify-content-end">
        <div class="col-4">

            <button type="button" class="btn btn-danger" (click)="onClickClose()">Cancelar</button>


        </div>
        <div class="col-4">

            <button type="button" class="btn btn-dark" (click)="onClickSave()">Guardar</button>

        </div>
    </div>
    <div class="row" [formGroup]="commentForm">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Crear Comentario</h3>
                <span class="label label-info">
                </span>
                {{commentForm.value | json}}
                <div>
                    <textarea placeholder="" formControlName = "description"></textarea>
                </div>
                <div class="row justify-content-right">
                    <div class="col-10">

                        <input type="file" class="form-control-file" id="exampleFormControlFile1"
                            (change)="uploadCommentFile($event)">


                    </div>
                    <div class="col-2">

                        <button type="button" class="btn btn-dark" (click)="onClickComentar()">Comentar</button>

                    </div>
                </div>
                <h3 class="panel-title">
                    Comentarios</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row" *ngFor="let comment of comments">
                            
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    
                                    <div class="mic-info">
                                        Por: <a href="#">{{comment.user}}</a> , A las: {{comment.time}} {{comment.date}}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{comment.description}}
                                </div>
                                <div class="action">
                                    <span class="label label-info">Descargar archivo adjunto</span>
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit" (click) = "onDownloadFile(comment.fileURL)">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                <a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span
                        class="glyphicon glyphicon-refresh"></span> More</a>
            </div>
        </div>
    </div>


</div>