<body>

<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="logo-image">
    <img src="../../../assets/Files/CampusTecLogo.png" class="img-fluid">
  </div>
  <a class="navbar-brand" href="#"> CampusTEC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link active">Planificador <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link " href="/studentProfile">Mi Perfil</a>
      <a class="nav-item nav-link " href="/login">Cerrar Sesión</a>

    </div>
  </div>
</nav>


<div class="grid-container">
  <div class="grid-calendar">

    <!--   This is the title of the calendar   -->
    <div class="row text-center">
      <div class="col calendar-title">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-left-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </div>
      <div id="current-week-label" class="col calendar-title">
        <h1>Semana {{semana}}</h1>
      </div>
      <div class="col calendar-title">
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-caret-right-fill" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </div>
    </div>

    <br/>

    <!--    This is the calendar    -->
    <mwl-calendar-week-view
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [locale]="locale"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
  </div>
  <div class="grid-right">

    Retos y actividades
  </div>
</div>
</body>
