h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.grid-container{
  padding: 50px;
  display: grid;
  grid-gap: 50px 100px;
  grid-template-areas:
    'header header header-r'
    'main main right'
    'main main right';
}

.grid-calendar{
  grid-area: main;
}

.grid-right{
  grid-area: right;
}

.grid-header{
  grid-area: header;
}

.calendar-title{

}

.week-selector{
  background: #f9f9f9;
}
