<div [formGroup]="objectiveForm">

    <h2>Nuevo Objetivo</h2>
    <h3>Descripción</h3>
    <textarea formControlName = "description" placeholder="Describa lo que se quiere lograr con el curso..."></textarea>
    <div *ngIf="submitted && description.invalid" class="alert alert-danger">
        <div *ngIf="description.errors.required">
          Debe indicar una descripción.
        </div>
        <div *ngIf="description.errors?.maxlength">
          La descripción debe contener menos de 500 caracteres.
        </div>
      </div>
    <div>
            <div class="row justify-content-end button-row">
                <div class="col-4">
                    <button type="button" class="btn secondary-btn" (click)="onClickClose()">Cancelar</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn primary-btn" (click)="onClickSave()">Guardar</button>
                </div>
            </div>
    </div>
</div>
