


<div [formGroup]="challengeForm">

    <div class="row">
        <div class="col-4">
            <h1>Reto</h1>
        </div>

    </div>
    {{challengeForm.value | json}}
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Nombre:</h3>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" formControlName="name">
        </div>
    </div>
    <div *ngIf="submitted && name.invalid" class="alert alert-danger">

        <div *ngIf="name.errors.required">
            Debe asignar un nombre al reto.
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Fecha de entrega:</h3>
        </div>
        <div class="col-8">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" formControlName="date">
        </div>
    </div>
    <div *ngIf="submitted && date.invalid" class="alert alert-danger">

        <div *ngIf="date.errors.required">
            Debe asignar una fecha para el reto.
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Remuneración:</h3>
        </div>
        <div class="col-md-5">
            <input type="number" class="form-control" formControlName="payment" min = "0">
        </div>
        <div class="col-md-3">
            <h3>TEColones</h3>
        </div>
    </div>
    <div *ngIf="submitted && payment.invalid" class="alert alert-danger">

        <div *ngIf="payment.errors.required">
            Debe asignar una remuneración.
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Objetivos:</h3>
        </div>
        <div class="col-6">
            <select id="inputState" class="form-control" formControlName="objective">
                
                <ng-container *ngFor="let objective of objectives">

                    <option>{{objective.id}}) {{objective.description}}</option>

                </ng-container>
            </select>
        </div>
        <div class="col-2">
            <button class="btn icon-btn" (click)="addObjective()">
              <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
              </svg>
            </button>
        </div>

    </div>
    <div *ngIf="submitted && !atLeastOnObjective" class="alert alert-danger">

        Debe seleccionar al menos un objetivo.

    </div>


    <div class="row">
        <div class="">
            <table class="table table-bordered">

                <tbody>
                    <tr *ngFor="let objective of objectivesResponse">
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>{{objective.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="row">
        <div class="col-4">
            <h3>Archivo:</h3>
        </div>
        <div class="col-8">
            <form>
                <div class="form-group">

                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="uploadChallengeFile($event)">

                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Actividades:</h3>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <button class="btn primary-btn" (click) = "addActivity()">Crear actividad</button>
        </div>
    </div>
    <div *ngIf="submitted && !atLeastOnActivity" class="alert alert-danger">

        Debe seleccionar al menos una actividad.

    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <table class="table table-bordered">

                <tbody>
                    <tr *ngFor="let activity of activities">
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>{{activity.description}}</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>




    <div class="row justify-content-end">
        <div class="col-4">

            <button type="button" class="btn secondary-btn" (click)="onClickClose()">Cancelar</button>


        </div>
        <div class="col-4">

            <button type="button" class="btn primary-btn" (click)="onClickSave()">Guardar</button>

        </div>
    </div>


</div>
