<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">



<div [formGroup]="challengeForm">

    <div class="row">
        <div class="col-4">
            <h1>Reto</h1>
        </div>

    </div>
    {{challengeForm.value | json}}
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Nombre:</h3>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" formControlName="name">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Fecha de entrega:</h3>
        </div>
        <div class="col-8">
            <input class="form-control" type="date" value="2011-08-19" id="example-date-input" formControlName="date">
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Remuneración:</h3>
        </div>
        <div class="col col-6 col-md-4">
            <input type="number" class="form-control" formControlName="payment">
        </div>
        <div class="col-6 col-md-4">
            <h3>TEColones</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Objetivos:</h3>
        </div>
        <div class="col-7">
            <select id="inputState" class="form-control" formControlName="objective">
                <option selected disabled></option>
                <ng-container *ngFor="let objective of objectives">

                    <option>{{objective.id}}) {{objective.description}}</option>

                </ng-container>
            </select>
        </div>
        <div class="col-1">
            <button class="btn" (click)="addObjective()"><i class="glyphicon glyphicon-plus"></i></button>
        </div>

    </div>

    
    <div *ngIf="objective == false" class="alert alert-danger">


        Debe ingresar al menos un objetivo.

    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <table class="table table-bordered">

                <tbody>
                    <tr *ngFor="let objective of objectivesResponse">
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>{{objective.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Archivo:</h3>
        </div>
        <div class="col-8">
            <form>
                <div class="form-group">

                    <input type="file" class="form-control-file" id="exampleFormControlFile1"
                        (change)="uploadChallengeFile($event)">

                </div>

            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <h3>Actividades:</h3>
        </div>
        <div class="col-4">

        </div>
        <div class="col-4">
            <button class="btn-addActivity">Crear actividad</button>
        </div>
    </div>

    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>Mejorar las herramientas para programar de cada uno de los estuiantes de la generacion
                            numero</td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    

    <div class="row justify-content-end">
        <div class="col-4">

            <button type="button" class="btn btn-danger" (click)="onClickClose()">Cancelar</button>


        </div>
        <div class="col-4">

            <button type="button" class="btn btn-dark" (click)="onClickSave()">Guardar</button>

        </div>
    </div>


</div>