<div [formGroup]="taskForm">
  <div class="col">
    <div class="row">
      <h1>Tarea</h1>

    </div>
    <hr>
    <div class="row">

      <div class="col-4">
        <h3>Nombre:</h3>
      </div>
      <div class="col-8">
        <input type="text" class="form-control" formControlName="name">
      </div>
    </div>
    <div *ngIf="submitted && name.invalid" class="alert alert-danger">

      <div *ngIf="name.errors.required">
        Debe indicar un nombre para la tarea.
      </div>


    </div>
    <div class="row">
      <div class="col-4">
        <h3>Semana:</h3>
      </div>
      <div class="col-4">
        <select id="inputState" class="form-control" formControlName="week" (change)="updateActivities()">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
          <option>13</option>
          <option>14</option>
          <option>15</option>
          <option>16</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <h3>Actividad:</h3>
      </div>
      <div class="col-7">
        <select id="inputState" class="form-control" formControlName="activity">
<option> </option>
          <ng-container *ngFor="let activity of activities">

            <option> {{activity.id}}) {{activity.name}}</option>

          </ng-container>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-1">
        <h3>Día:</h3>
      </div>
      <div class="col-4">
        <select id="inputState" class="form-control" formControlName="day" style="width: 120px; ">

          <option>Lunes</option>
          <option>Martes</option>
          <option>Miércoles</option>
          <option>Jueves</option>
          <option>Viernes</option>
          <option>Sábado</option>
          <option>Domingo</option>

        </select>
      </div>
      <div *ngIf="submitted && day.invalid" class="alert alert-danger">
        <div *ngIf="day.errors.required ">
          Debe un dia de la semana.
        </div>

      </div>
      <div class="col-1">
        <h3>Hora:</h3>
      </div>
      <div class="col-2">

        <input type="number" class="form-control" min="1" max="12" formControlName="hour" style="width: 75px;  "
               placeholder="HH">

      </div>

      <div class="col-3">
        <select id="inputState" class="form-control" formControlName="period" style="width: 75px; ">
          <option selected>AM</option>
          <option>PM</option>
        </select>
      </div>


    </div>
    <div *ngIf="submitted && hour.invalid" class="alert alert-danger">

      <div>
        Debe ingresar una hora valida.
      </div>


    </div>

    <div class="row">
      <div class="col-4">
        <h3>Descripción:</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <textarea formControlName="description" placeholder="" class="text-area"></textarea>
      </div>
    </div>
    <div *ngIf="submitted && description.invalid" class="alert alert-danger">
      <div *ngIf="description.errors.required ">
        Debe indicar una descripción
      </div>
      <div *ngIf="hour.errors.min || hour.errors.max">
        Debe indicar un nombre para la tarea.
      </div>
    </div>
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div>
          <button type="button" class="btn secondary-btn" (click)="onClickClose()">Cancelar</button>
        </div>
      </div>
      <div class="col4">

        <div>
          <button type="button" class="btn primary-btn" (click)="onClickSave()">Guardar</button>
        </div>
      </div>

    </div>

  </div>

</div>
