<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">



<div [formGroup]="activityForm">

    <div class="row">
        <div class="col-4">
            <h1>Actividad</h1>
        </div>
        
    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <h3>Nombre:</h3>
        </div>
        <div class="col-8">
            <input type="text" formControlName="name" class="form-control" placeholder="{{activity.name}}">
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Descripción:</h3>
        </div>
        <div class="col-8">
            <textarea formControlName="description" placeholder="{{activity.description}}"></textarea>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Evaluable:</h3>
        </div>
        <div class="col col-6 col-md-4">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" [checked] = "activity.evaluable" id="exampleCheck1" formControlName="evaluable">

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-2">
            <h3>Semana:</h3>
        </div>
        <div class="col-2">
            <select id="inputState" class="form-control" formControlName="week">
                <option selected>{{activity.week}}</option>
                
            </select>
        </div>
        <div class="col-3">
            <h3>Fecha de entrega:</h3>
        </div>
        <div class="col-5">
            <input class="form-control" type="text" placeholder="{{activity.date}}" value="{{activity.date}}" id="example-date-input" formControlName="date">
        </div>

    </div>
    

    <div class="row">
        <div class="col-4">
            <h3>Objetivos:</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-8">
            <table class="table table-bordered">

                <tbody>
                    <tr *ngFor="let objective of objectivesResponse">
                        <th scope="row"><span class="glyphicon glyphicon-asterisk"></span></th>
                        <td>{{objective.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
    <div class="row">
        <div class="col-4">
            <h3>Archivo:</h3>
        </div>
        
    </div>



    <div class="row justify-content-end">
        <div class="col-4">

            <button type="button" class="btn btn-danger" (click)="onClickClose()">Cancelar</button>


        </div>
        <div class="col-4">

            <button type="button" class="btn btn-dark" (click)="onClickSave()">Guardar</button>

        </div>
    </div>
    <div class="row" [formGroup]="commentForm">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span>
                <h3 class="panel-title">
                    Crear Comentario</h3>
                <span class="label label-info">
                </span>
                {{commentForm.value | json}}
                <div>
                    <textarea placeholder="" formControlName = "description"></textarea>
                </div>
                <div class="row justify-content-right">
                    <div class="col-10">

                        <input type="file" class="form-control-file" id="exampleFormControlFile1"
                            (change)="uploadCommentFile($event)">


                    </div>
                    <div class="col-2">

                        <button type="button" class="btn btn-dark" (click)="onClickComentar()">Comentar</button>

                    </div>
                </div>
                <h3 class="panel-title">
                    Comentarios</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row" *ngFor="let comment of comments">
                            
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    
                                    <div class="mic-info">
                                        Por: <a href="#">{{comment.user}}</a> , A las: {{comment.time}} {{comment.date}}
                                    </div>
                                </div>
                                <div class="comment-text">
                                    {{comment.description}}
                                </div>
                                <div class="action">
                                    <span class="label label-info">Descargar archivo adjunto</span>
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit" (click) = "onDownloadFile(comment.fileURL)">
                                        <span class="glyphicon glyphicon-save"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
                
            </div>
        </div>
    </div>


</div>