.mat-button.mat-create:hover{
    color: #f0fff3;
  background-color: red;
}

.mat-button.mat-cancel:hover{
    color: #f0fff3;
    background-color: red;
    border-color: darkblue;
  }

.md-dialog-container {
    background-color: #000;
    height: '1000px';
    width: '800px';
    margin-left: 20px;
    margin-right: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.icon-btn{
  padding: 5px 5px;
}

.button-row{
  margin-top: 2em;
  margin-bottom: 2em;
}

.text-area{
  width: 100%;
}

.form-control-file{
  margin: 1em;
}

.comment-text{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.comment{
  /*margin-bottom: 1em;*/
}

