<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">


<body>

    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="logo-image">
            <img src="../../../assets/Files/CampusTecLogo.png" class="img-fluid">
        </div>
        <a class="navbar-brand" href="#"> CampusTEC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link active " href="#">Planificador <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link disabled" href="#">Mi Perfil</a>
                <a class="nav-item nav-link disabled" href="#">Cerrar Sesión</a>

            </div>
        </div>
    </nav>










    <div class="container infoContainer">
        <div class="row">
            <div class="col">
                
                <img class="img-thumbnail"
                    width="50px"
                    height="50px"
                    
                    src="https://www.hindustantimes.com/rf/image_size_640x362/HT/p1/2015/03/18/Incoming/Pictures/1327679_Wallpaper2.jpg"
                    style="width:60%;">

                <h3>{{studentData.type}} </h3>
                <h5>{{studentData.nombre}} {{studentData.apellido}} </h5>
                <h5>{{studentData.id}} </h5>
                <h5>{{studentData.activo}} </h5>
                
                <div class="input-group">
                    <h5>Email 1: </h5>
                    <input type="text" class="form-control" placeholder="{{studentData.email1}} ">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                  </div>
                
                <div class="input-group">
                    <h5>Email 2: </h5>
                    <input type="text" class="form-control" placeholder="{{studentData.email2}}">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                  </div>
                
                <div class="input-group">
                    <h5>Teléfono: </h5>
                    <input type="text" class="form-control" placeholder="{{studentData.numtelefono}}">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                  </div>
                
                <div class="input-group">
                    <h5>Universidad: </h5>
                    <input type="text" class="form-control" placeholder="{{studentData.universidad}}">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                  </div>
               
                <div class="input-group">
                    <h5>Sede de </h5>
                    <input type="text" class="form-control" placeholder="{{studentData.sede}}">
                    <div class="input-group-append">
                      <button class="btn btn-secondary" type="button">
                        <i class="glyphicon glyphicon-pencil"></i>
                      </button>
                    </div>
                  </div>
            </div>
            <div class="col">
                <h1>Cursos</h1>
                <ul class="list-group">
                    <tr *ngFor="let curso of studentClasses">
                        <li class="list-group-item">{{curso.nombre}} </li>
                    </tr>
                    
                    

                </ul>
            </div>
        </div>
    </div>